{%load static%}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Perfil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Perfil</h1>
						<h2>Bienvenido {{name}}, tu plan es de {{calories}} calorias.</h2>
						<p>Revisa tu menú semanal y/o modifícalo a tu gusto</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"><img src="images/menu.jpg" alt="" /></span>
								<h3>Lunes</h3>
										<blockquote>Ensalada de tomate y lechuga. Tortilla de patata (150 gramos de patatas y un huevo). Por último, un kiwi y una naranja.</blockquote>
										<a href="#" class="button small" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">Cambiar</a>
										<br>

								<h3>Martes</h3>
										<blockquote>Cuatro rollitos de calabacín. Un plato de guisantes con daditos de jamón. Además, una macedonia con una naranja y cuatro fresas.</blockquote>
										<a href="#" class="button small" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">Cambiar</a>
										<br>
								<h3>Miércoles</h3>
										<blockquote>Risotto de setas con una ración de merluza al papillote. También un kiwi.</blockquote>
										<a href="#" class="button small" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">Cambiar</a>
										<br>
								<h3>Jueves</h3>
										<blockquote>Brochetas de tomate cherry y queso fresco cortado en dados. También una hamburguesa de espinacas sin pan y con hummus.</blockquote>
										<a href="#" class="button small" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">Cambiar</a>
										<br>
								<h3>Viernes</h3>
										<blockquote>Espárragos trigueros salteados con romero. Un guiso de patata con carne picada. Por último, un yogur griego sin grasa con nueces troceadas.</blockquote>
										<a href="#" class="button small" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">Cambiar</a>
										<br>
								<h3>Sábado</h3>
										<blockquote>Ensalada de zanahoria y remolacha. Además, una ración de quinoa salteada con daditos de pollo. Dos mandarinas.</blockquote>
										<a href="#" class="button small" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">Cambiar</a>
										<br>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Pear to Pear</h2>
							<p>Empresa dedicada a la entrega de alimentos saludables. Creada en 2020</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Contacto</h2>
							<dl class="alt">
								<dt>Dirección</dt>
								<dd>s/n, Urb. Campiña Paisajista, Quinta Vivanco, Arequipa 04001</dd>
								<dt>Teléfono</dt>
								<dd>+51 987 654 321</dd>
								<dt>Email</dt>
								<dd><a href="#">info@peartopear.com</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
